*,
body {
    margin: 0
}

*,
button {
    outline: 0;
    text-decoration: none
}

a.btn,
img {
    width: 200px
}

.btn,
button {
    cursor: pointer;
    text-transform: uppercase
}

.buscador,
.datos-peliculas,
.pagination-container,
a.btn {
    gap: 10px;
    display: flex
}

.background-fondo,
.buscador,
.buscar,
.container,
.datos-peliculas,
.icono,
.youtube,
a.btn,
header {
    display: flex
}

input[type=text]::-ms-clear,
input[type=text]::-ms-reveal {
    display: none
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-clear-button {
    display: none
}

::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-track {
    background: #212e5db9
}

::-webkit-scrollbar-thumb {
    background: var(--primario)
}

::-webkit-scrollbar-thumb:hover {
    background: #34a1eb
}

:root {
    --primario: #2aa9ff
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    border: none
}

body {
    font-family: Arial, sans-serif;
    padding: 0;
    color: #fff;
    height: 100vh;
    background: linear-gradient(#080f28 50%, #080f28 50%)
}

header {
    height: auto;
    justify-content: space-between;
    align-items: center;
    padding: 1pc;
    flex-wrap: wrap
}

.container {
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    flex-direction: column;
    justify-content: space-between
}

.background-fondo {
    padding: 2pc;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    flex-flow: column wrap
}

img {
    height: 350px
}

.logo a p {
    font-weight: 700;
    font-size: 2pc;
    color: #fff
}

.logo span,
span {
    color: var(--primario)
}

#search-input {
    font-size: .8pc;
    font-weight: 700;
    color: #ffffffec;
    background: 0 0;
    width: 100%
}

.buscador {
    flex-wrap: wrap
}

button#search-button {
    padding: 10px 20px;
    background: var(--primario);
    font-size: 1pc;
    font-weight: 700;
    color: #fff;
    border-radius: 10px
}

button#search-button:hover {
    background: #fff;
    color: #000
}

.icono {
    width: 30px;
    justify-content: center
}

.buscar {
    border: 2px solid var(--primario);
    border-radius: 7px;
    height: 45px
}

h1 {
    color: #fff
}

iframe {
    width: 500px
}

.pagination-container {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1pc
}

button {
    margin-right: 15px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 0 rgba(4, 122, 255, .05);
    color: #f9f9f9;
    letter-spacing: 1px;
    padding: 9px 20px;
    transition: box-shadow 85ms ease-in-out, transform 85ms ease-in-out;
    font: 900 15px Avenir-Heavy, sans-serif
}

#previous-page {
    background: linear-gradient(145deg, #00e18c, #00e36a)
}

#next-page {
    background: linear-gradient(145deg, #2196f3, #1565c0)
}

p {
    width: 80%
}

a.btn {
    align-items: center
}

.btn {
    background-color: #f9f9f9;
    border: none;
    border-radius: 5px;
    color: #090b13;
    letter-spacing: 1.5px;
    padding: 15px 20px
}

.datos-peliculas {
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1pc 0
}

#movie-info {
    overflow: auto;
    height: 100%
}

.background {
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%
}

.youtube {
    position: absolute;
    width: 96%;
    justify-content: flex-end
}

.spinner {
    display: none;
    border: 4px solid;
    border-left-color: #2196f3;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: 1s linear infinite spin
}

@keyframes spin {
    to {
        transform: rotate(360deg)
    }
}

.spiner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

@media only screen and (max-width:850px) {

    .youtube,
    p {
        width: 100%
    }

    .background-fondo,
    body {
        height: auto
    }

    .youtube {
        height: 100%;
        position: static;
        justify-content: center
    }

    img {
        width: 150px;
        height: 300px
    }

    .logo a p {
        font-size: 1.5pc
    }

    .buscar {
        height: 35px
    }

    button {
        font: 12px Avenir-Heavy, sans-serif
    }

    button#search-button {
        padding: 10px 20px;
        font-size: .7pc
    }
}